@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(35 39 47);
}

/* index.css */

/* Animación de máquina de escribir */
.typing-effect {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) infinite;
  }
  
  @keyframes typing {
    to {
      width: 100%;
    }
  }
  
  /* Animación inversa de máquina de escribir */
  .typing-reverse {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: typingReverse 3s steps(30, end) infinite;
  }
  
  @keyframes typingReverse {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  
  /* Otras estilos... */
  
  
  